@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins";
    outline: none !important;
}

.border-text {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23524FD5FF' stroke-width='1' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 12px;
}

.bg-ellipes {
    background-image: url("./assets/Ellipse.png");
    background-repeat: no-repeat;
    background-position: -18%, 0;
}

.green-border {
    background: linear-gradient(127.12deg, #04B900 18.79%, rgba(4, 185, 0, 0) 71.54%);
}

.explore {
    padding-right: 3.5em;
}

.explore::before {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-11%, -50%);
    background-color: #7077E4;
    width: 30px;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

.explore::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translate(-13%, -50%);
    background-color: #adbbf48a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.explore:hover {
    color: blue;
    transition: all 0.2s ease-in-out;
}

.explore:hover::after {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    transform-origin: right;
    border-radius: 10px;
    right: 0;
    top: 0;
    transform: translate(0, 0);
}


.slick-slider .slick-list {
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



table.rounded-corners {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid #EAECF0;

}

.border-top {
    border-top: 1px solid #EAECF0;
}


.mainslider {
    width: 70%;
}

.boxshadow-down {
    box-shadow: 0px 9px 11.300000190734863px -7px #935CEF8A;
}

.hover-boxshadow-down:hover {
    box-shadow: 0px 9px 11.300000190734863px -7px #935CEF8A;
}


.slick-arrow {
    position: absolute;
    top: -80px;
    right: 11px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #E8E8F6;
    border-radius: 50%;
    color: #E8E8F6;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.slick-arrow.next-arrow {
    right: 70px;
    transition: all 0.3s ease-in-out;
}

.slick-arrow.next-arrow:hover,
.slick-arrow.prev-arrow:hover {
    background: #524FD5;
    border: 1px solid #524FD5;
    color: white;
    transition: all 0.3s ease-in-out;
}


.testimonial-card:hover>.testimonial .letter-box .letter {
    font-size: 25px;
}


.hide {
    max-height: 0;
    transition: all 0.3s ease-out;
    overflow: hidden;
    margin: 0;
}

.show {
    max-height: 500px;
    transition: all 0.3s ease-in;
    transform-origin: top;
    margin-top: 1em;
}

.bg-color {
    background-color: #7077E4;
    transition: all 0.3s ease-in;
    color: white;
}

.bg-hide {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in;
}


.input-group:focus {
    border: 2px solid black !important;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    max-height: 50px;
}

input[type="checkbox"] {
    position: relative;
    width: 13px;
    height: 13px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    margin-bottom: 1px;
    border: 1px solid #666680;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: #666680 !important;
}


.send-button::before {
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(-11%, -50%);
    background-color: #7077E4;
    width: 30px;
    height: 2px;
    transition: all 0.2s ease-in-out;
}

.send-button::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translate(-13%, -50%);
    background-color: #adbbf48a;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.send-button:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    right: 0;
    transform: translate(0, -50%);
    border-radius: 25px;
    background-color: #524FD5;
}


.send-button:hover:before {
    background: white;
}

.send-button:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    overflow: hidden;
}


.container-full {
    width: 1430px;
}

.bottom {
    border-radius: 1px 0 40px 40px;
}



.border-shadow {
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.line {
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 62%;
    background: #e04bc0;
}

@media screen and (max-width: 1600px) {
    .bg-ellipes {

        background-position: -24% 0;
    }
}

@media screen and (max-width: 1599px) {
    .bg-ellipes {

        background-position: -71% 0;
    }

    .mainslider {
        width: 85%;
    }

    .container-full {
        width: 96%;
    }
}

@media screen and (max-width: 1399px) {

    .bg-ellipes {
        background-position: -114% -101px;
    }

    .mainslider {
        width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    .bg-ellipes {
        background-position: -301% -45px;
    }
}

@media screen and (max-width: 1199px) {
    .bg-ellipes {
        background-position: 743% 0px;
    }
}

@media screen and (max-width: 1023px) {
    .bg-ellipes {
        background-position: 434% 0px;
    }

    .slick-slider {
        top: -20px !important;
    }

    .help {
        padding: 0 1em !important;
    }

    .mainslider {
        width: 90%;
    }

    .slick-arrow {
        top: -74px;
    }
}


@media screen and (max-width: 979px) {
    .bg-ellipes {
        background-position: 5% 0;
    }

    .navlinkes {
        position: fixed;
        left: -200%;
        top: 0;
        height: 100vh;
        margin: 0;
        background: white;
        z-index: 20;
        flex-direction: column;
        width: 280px;
        align-items: start;
        padding: 1em;
        transition: all 0.2s ease-in-out;
    }

    .navlinkes.active {
        left: 0;
        transition: all 0.2s ease-in-out;

    }

    .slick-arrow {
        top: -65px;
    }

    .md-w-full {
        width: 100% !important;
    }
}



@media screen and (max-width: 639px) {
    .full-width {
        width: 100% !important;
    }

    .padding-0 {
        padding: 0 !important;
    }

    .slick-arrow {
        top: -5px;
    }

    .right-zero {
        right: 0 !important;
    }
}


@media screen and (max-width: 414px) {
    .slick-arrow {
        top: -16px;
    }
}

@media screen and (max-width: 378px) {
    .slick-arrow {
        top: -5px;
    }
}